
.site {
    display: flex;

    width: 100%;
}
.setting-space__wrap {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: sticky;
    top: 0;

    /* padding: 20px; */
    height: 100vh;

    background: rgba(128, 192, 248, 1);
}
.setting-space {
    /* position: relative; */
    height: 100%;
    /* padding: 20px; */

    overflow: auto;

    line-height: 1.5;
}
.setting-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.5px;

    position: sticky;
    bottom: 0;

    width: 100%;
    height: 15%;
    padding: 12px;

    background: green;
}
.input__section {
    padding: 36px 24px;
}
.input__section:not(:last-child) {
    /* margin-bottom: 24px; */
    border-bottom: 1px solid black;
}
/* .input__section:hover {
    background: yellow;
} */
.unit__wrap, .service__wrap {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    padding: 8px;
}
.unit__wrap:last-child, .service__wrap:last-child{
    margin-bottom: 0;
}
.body-space {
    flex-basis: 50%;
}

.button {
    position: relative;

    width: 50px;
    height: 50px;
}
.button i {
    display: block;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.form-body .form {
    flex-basis: 90%;

    text-align: left;
}
.form-body .form .setting-item {
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 12px;
}
.form-body .form .setting-item input,
.form-body .form .setting-item select,
.form-body .form .setting-item .setting-item_child select {
    width: 100%;
    height: 45px;
    padding: 8px;
}
.setting-item .more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

#make-doc {
    width: 200px;
}
#input__contract-overview .contract-overview-added,
#input__client .client-added,
#input__production-units .units-added,
#input__processing-units .units-added,
#input__service .services-added,
#input__total-fee .total-fee-confirmed {
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 24px;
    border-radius: 12px;

    background: white;
}
#input__total-fee .total-fee-confirmed table tr td:nth-child(2){
    width: 24px;

    text-align: center;
}
#input-total-fee--words-vi,
#input-total-fee--words-en {
    height: 90px;
    padding: 8px;
    line-height: 1.5;
}
